.item-child-image-product:hover {
    opacity: 1;
    transition: all .3s;
    transform: translateY(-8px);
}

.item-parent-image-product {
    width: calc(25% - 1.5rem);
    margin-right: 2rem;
}

/* .big-button-slider-image {
    transition: all .5s;
    transform: translateX(0%);
} */

.item-hover:hover .button-slider-image-left {
    transition: all .5s;
    left: 0.5rem;
}

.item-hover:hover .button-slider-image-right {
    transition: all .5s;
    right: 0.5rem;
}


/* #detail-info {
    transition: all .5s;
} */