.banner {
    min-height: 600px;
    background-size: cover;
    background-position: center;
}

.banner-bottom {
    min-height: 390px;
    background-size: cover;
}
#front-menu-active {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.slider {
    transition: transform 0.5s;
    transform: translateX(0%);
}

.rotate-nav-icon {
    transform: rotate(0deg);
    transition: transform .3s;
}

.item-near-footer div:first-child {
    max-width: 315px;
}

.item-image-round img {
    transition: transform 1s;
    cursor: pointer;
}

.item-image-round img:hover {
    transform: scale(1.15);
}

.background {
    min-height: 617px;
}

.image-near-footer {
    width: 9.8125rem;
    height: 9.8125rem;
}

.image-near-footer-child {
    margin-top: -4.90625rem;
}

.content-main {
    padding: 0rem 0.5rem;
    margin: 3.125rem auto;
}

.content-margin {
    margin: 3.125rem auto;
}

.item-image {
    transition: opacity .1s;
}
