@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-Gilroy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

